@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h2>Engineer Details</h2>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<br>
<p>@Html.ActionLink("Edit Engineer", "Edit", "Engineers", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", "Engineers", new { id = Model.EngineerId })</p>
<hr>
<h4>Machines</h4>
@if (@Model.EngineerMachines.Count == 0)
{
    <p>Engineer does not have any machines.</p>
}
@foreach (EngineerMachine engineerMachine in Model.EngineerMachines)
{
    <p>@engineerMachine.Machine.Name</p>
}
<p>@Html.ActionLink("Add Machine", "AddMachine", new { id = Model.EngineerId })</p>